<div id="skills" class="tab view-animate" ng-controller="skillController" style="display:none">
	<div class="stickied">
		<span id="addNode" class="btn" ng-click="addSkill()"><i class="fa fa-plus-square-o"></i></span>
		<span id="deleteNode" class="btn" ng-click="deleteMode = !deleteMode"><i class="fa fa-trash"></i></span>
	</div>
	<div class="plumb content" id="plumb">
		<div ng-plumb ng-repeat="skill in skills" class="node" id="skill_{{skill.id}}" ng-class="(deleteMode === true)?'delete':''" ng-click="checkRemove(this)" style="left:{{skill.position.x}}px; top:{{skill.position.y}}px">
			<div class="nodeText">{{skill.skill}}</div>
			<div class="nodeButtons">
				<div class="nodeNumber" ng-click="editNumber(this)"><div ng-repeat="roll in skill.rolls">{{roll}}</div></div>
				<div class="nodeEdit" ng-click="editText(this)"><i class="fa" ng-class="(deleteMode === true)?'fa-trash':'fa-pencil-square-o'"></i></div>
				<div class="nodeCreate"></div>
			</div>
		</div>
	</div>
</div>