body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    font-size:20px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

.btn{
	background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.01) 5%, rgba(0, 0, 0, 0.1));
	font-family: inherit;
	font-size: 100%;
	padding: 0.5em 1em;
	color: rgba(0, 0, 0, 0.7);
	background-color: #F1F1F1;
	text-decoration: none;
	border-radius: .1em;
	display: inline-block;
	line-height: normal;
	white-space: nowrap;
	vertical-align: baseline;
	text-align: center;
	cursor: pointer;
	-moz-user-select: none;
}

#tabs{
    margin-top:3em;
}

.tab{
}

.tab > div:first-of-type{
	width:95%;
    margin-left: auto;
    margin-right: auto;
}

.map{
}

.highlight, .btn.highlight{
	background-color: rgba(255, 215, 134, 1);
}

.banner{
	background-image: linear-gradient(transparent, rgba(0, 0, 0, 1) -25%, rgba(50, 40, 2, 1));
	width: 100%;
	text-align:center;
	box-shadow: 0 .15em .2em rgba(0, 0, 0, 50);
	position: fixed;
	right: 0;
	top: 0;
}
.banner div.buttons{
	padding:.2em 0;
	margin: 0 auto;
}

.plumb{
	min-height:25em;
}

.node{
	max-width: 20em;
	margin:.8em;
}

.nodeText{
	cursor:move;
	max-width: 20em;
	background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.01) 5%, rgba(0, 0, 0, 0.1));
	color: rgba(0, 0, 0, 0.7);
	background-color: #F1F1F1;
	border-radius: .2em .2em 0 0;
	padding: 0.5em 1em .8em;
	min-height: 1em;
	text-align: center;
}

.nodeButtons{
	margin-top:-.4em;
	overflow:hidden;
	font-size:1.5em;
}

.nodeButtons > div{
	padding:0;
	cursor:pointer;
}

.nodeNumber{
	float:left;
	width: 15%;
	background: linear-gradient(180deg, rgba(221, 221, 221, 0) 0%,rgba(221, 221, 221, 1) 13%);
	border-bottom: solid 1px rgba(200, 200, 200, 1);
	border-radius: 0 0 .2em .2em;
	text-align: center;
}

.nodeEdit{
	float:right;
	min-height:1em;
	width: 15%;
	background: linear-gradient(180deg, rgba(221, 221, 221, 0) 0%,rgba(221, 221, 221, 1) 13%);
	border-bottom: solid 1px rgba(200, 200, 200, 1);
	border-radius: 0 0 .2em .2em;
	text-align: center;
}

.nodeCreate{
	margin:0 auto;
	text-align: center;
	font-weight: bold;
	width: 70%;
	background: linear-gradient(180deg, rgba(221, 221, 221, 0) 0%, rgba(221, 221, 221, 1) 13%, rgba(177, 200, 167, 1) 75%, rgba(146, 187, 137, 1));
	border-bottom: solid 1px rgba(200, 200, 200, 1);
	border-top: solid 1px rgba(200, 200, 200, 1);
	border-radius: 0 0 .2em .2em;
	border-top: none;
	color: rgb(241, 244, 204);
}
















