body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A19898 0%, #BDBDBD 51%);
    background-image:-webkit-linear-gradient(top, #A19898 0%, #BDBDBD 51%);
    background-image:-ms-linear-gradient(top, #A19898 0%, #BDBDBD 51%);
    background-image:-webkit-gradient(
        linear,
		left top,
		left bottom,
		color-stop(0, #A19898),
		color-stop(0.51, #BDBDBD)
	);
    background-attachment:fixed;
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    font-size:20px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

:focus {
	outline-color: rgba(255, 215, 100, 1);
	outline-size: .2em;
}

textarea, input[type='text']{
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
    font-size:20px;
	background:rgba(255, 255, 255, 0.9);
	resize: vertical;
}

textarea{
	resize: vertical;
}

.modal{display:none;}
#simplemodal-overlay {background-color:#000;}
#simplemodal-container {background-color:#333; border:8px solid #444; padding:12px;}

.btn{
	/* background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.01) 5%, rgba(0, 0, 0, 0.1)); */
	padding: 0.5em 1em;
	color: rgba(0, 0, 0, 0.7);
	background-color: rgba(221, 221, 221, 1);
	border-bottom: solid 1px rgba(155, 132, 132, 1);
	border-radius: .1em;
	display: inline-block;
	line-height: normal;
	white-space: nowrap;
	vertical-align: baseline;
	text-align: center;
	cursor: pointer;
	-moz-user-select: none;
	text-decoration: none;
}

.stickied{
	position: fixed;
	font-size: 110%;
	right: 1em;
	top: 3em;
}

#tabs{
    margin-top:3em;
}

.tab{
}

.tab > div.content{
	width:95%;
    margin-left: auto;
    margin-right: auto;
}

.map{
}

.highlight, .btn.highlight{
	background-color: rgba(255, 215, 134, 1);
}

.banner{
	background-image: linear-gradient(transparent, rgba(0, 0, 0, 1) -25%, rgba(50, 40, 2, 1));
	width: 100%;
	text-align:center;
	box-shadow: 0 .15em .2em rgba(0, 0, 0, 50);
	position: fixed;
	right: 0;
	top: 0;
	z-index:99999;
}
.banner div.buttons{
	padding:.2em 0;
	margin: 0 auto;
}

.plumb{
	min-height:25em;
	height:auto;
}

.node{
	position:absolute;
	max-width: 20em;
	min-width: 15em;
}

.node.delete > div.nodeText, .node.delete > div.nodeButtons > div, .disabled{
	background: darkgray;
	color: gray;
}

.nodeText{
	border-top: solid 1px rgba(155, 132, 132, 1);
	max-width: 20em;
	color: rgba(0, 0, 0, 0.7);
	background-color: rgba(221, 221, 221, 1);
	border-radius: .2em .2em 0 0;
	padding: 0.5em 1em .8em;
	min-height: 1em;
	text-align: center;
}

.nodeButtons{
	margin-top:-.4em;
	overflow:hidden;
	font-size:1.5em;
}

.nodeButtons > div{
	padding:0;
}

.nodeNumber{
	float:left;
	width: 15%;
	min-height:.8em;
	background: rgba(221, 221, 221, 1);
	border-bottom: solid 1px rgba(155, 132, 132, 1);
	border-radius: 0 0 .2em .2em;
	text-align: center;
	min-height: .8em;
}

.nodeEdit{
	float:right;
	width: 15%;
	background: rgba(221, 221, 221, 1);
	border-bottom: solid 1px rgba(155, 132, 132, 1);
	border-radius: 0 0 .2em .2em;
	text-align: center;
}

.nodeCreate{
	margin:0 auto;
	text-align: center;
	font-weight: bold;
	width: 70%;
	/* background: linear-gradient(180deg, rgba(221, 221, 221, 1) 13%, rgba(177, 200, 167, 1) 75%, rgba(146, 187, 137, 1)); */
	/* border-radius: 0 0 .2em .2em; */
	/* height:1.2em; */
	background: linear-gradient(180deg, rgba(221, 221, 221, 1) 70%, rgba(107, 164, 94, 1) 70%);
	border-bottom: solid 1px rgba(147, 150, 137, 1);
	height: .6em;
	border-top: none;
	color: rgb(241, 244, 204);
	
}
#element2 {left:30em; }

.test{
	width:100px;
	height:100px;
	background: orange;
}

/** JSPLUMB ARTEFACTS **/
._jsPlumb_endpoint { z-index:32; }














